* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --primary-color: #0088FF;
}

.header {
    display: flex;
    height: 50px;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
}


.links-container {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-between;
}

.links-cont {
    display: flex;
    align-items: center;
}

.links-container a {
    text-decoration: none;
    color: black;
}

.switch-container {
    display: flex;
    align-items: center;
}

.switch-container-logo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--primary-color);
    margin-right: 10px;
        display: flex;
    align-items: center;
    justify-content: center;
}

.switch-container-logo p{
    color: white;
}

.switch-button-list {
    margin-left: 10px;
}

/* ========== hero section ========== */

.hero-section {
    min-height: 300px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    
}

.left-hero-section {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
}

.btn-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.left-btn {
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-color);
}

.left-btn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.right-btn {
    width: 166px;
    height: 40px;
    background-color: rgb(0, 0, 0 , 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.right-btn img {
    width: 15px;
    height: 20px;
    margin-right: 5px;
}

.right-hero-section {
    margin-left: auto;
}

.statistique-section {
    min-height: 250px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 40px;
    margin: 0 20px;
    align-items: center;
}

.statistique-container {
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}

.statistique-container-paragraf-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.statistique-num {
    font-size: 40px;
}

.statistique-title {
    font-size: 20px;
}