* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --primary-color: #0088FF;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

.header {
    display: flex;
    height: 50px;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
}

.links-container {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-between;
}

.links-cont {
    display: flex;
    align-items: center;
}

.links-container a {
    text-decoration: none;
    color: black;
}

.switch-container {
    display: flex;
    align-items: center;
}

.switch-container-logo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--primary-color);
    margin-right: 10px;
        display: flex;
    align-items: center;
    justify-content: center;
}

.switch-container-logo p{
    color: white;
}

.switch-button-list {
    margin-left: 10px;
}

.footer {
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: auto; 
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --primary-color: #0088FF;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

.hero-section {
    min-height: 300px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    
}

.left-hero-section {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
}

.btn-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.left-btn {
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.left-btn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.right-btn {
    width: 166px;
    height: 40px;
    background-color: rgb(0, 0, 0 , 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: none;
}

.right-btn img {
    width: 15px;
    height: 20px;
    margin-right: 5px;
}

.right-hero-section {
    margin-left: auto;
}

@media (max-width: 867px){
    .hero-section {
        padding-top: 50px !important;
        flex-direction: column;
        margin: 0;
        
    }
    .right-hero-section {
        margin: 0;
        margin-left: auto;
    }

    .left-hero-section {
        margin: 0;
        margin-right: auto;
    }
}

