* {
    --primary-color: #0088FF;
}

.quiz-container-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
}

.quiz-container {
    margin: 20px;
    height: 250px;
    width: 400px;
    box-shadow: 0 0 15px 2px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz-container-up {
    display: flex;
    flex: 3;
}

.quiz-container-up-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.type {
    background-color: rgb(0, 136, 255 , 0.5);
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.title {
    font-size: x-large;
    font-weight: bold;
}

.des {
    font-size: medium;
    font-weight: 500;
}

.quiz-container-up-btn {
    display: flex;
    justify-content: end;
    align-items: start;
    flex: 1;
}

.quiz-container-up-btn img {
    width: 30px;
    height: 30px;
}

.quiz-container-down {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
}

.quiz-container-down-left {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.quiz-container-down-right {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.see-btn {
    background-color: var(--primary-color);
    border: none;
    color: white;
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 5px;
    text-decoration: none;
}