* {
    --primary-color: #0088FF;
}

.student-results-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-results-container {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 25px 1px;
}

.student-results-head {
    background-color: rgb(0, 0, 0, 0.1);
    display: flex;
    padding-left: 10px;
    height: 50px;
    align-items: center;
}

.student-results-head p {
    font-size: large;
    font-weight: bold;
    color: #6B7280;
    width: 15%;
}

.head {
    width: 27.5% !important;
}

.student-results {
    display: flex;
    padding-left: 10px;
    height: 70px;
    align-items: center;
}

.student-results div {
    width: 15%;
}

.student-results-name {
    display: flex;
    gap: 5px;
    align-items: center;
}

.student-results-name p:first-child {
    background: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.staut {
    background-color: rgb(0, 128, 0 , 0.5);
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
}

.stautre {
    background-color: rgba(255, 23, 23, 0.5);
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
}